body{
    background: #f2f2f2;
    font-family: 'Roboto Condensed', sans-serif;
}

header{
    margin-top: 30px;
}

header .nav{
    min-height: 80px;
    overflow: hidden;
    background: #fff;
}
/*Logo*/
header .logo h2,
header .logo span,
header .logo p{
    font-size: 16px;
    display: inline-block;
    margin: 0px;
}
header .logo h2{
    font-size: 22px;
    font-weight: 800;
    font-family: 'Roboto Condensed';
}
header .logo .icono:before{
    font-family: 'icomoon';
    content: "\e900";
    font-size: 16px;
    color: #bfbfbf;
}

header .logo p{
    color: #777777;
}

/*Menu de navegacion*/
header .menu{
   padding: 0px;
}
header .menu a div span.text-menu{
    font-weight: 600;
}
header  .menu a{
    display: block;
    padding: 0px 40px;
    text-decoration: none;
    color: white;
}
header .menu .c-1{ background: #3da5e2; }
header .menu .c-2{ background: #0372b8; }
header .menu .c-3{ background: #013f66; }
header .menu .c-4{ background: #00283b; }

header .menu .c-1:hover{
    background: #64c3fa;
    transition-duration: 0.3s;}
header .menu .c-2:hover{
    background: #037dc9;
    transition-duration: 0.3s; }
header .menu .c-3:hover{ 
    background: #105577; 
    transition-duration: 0.3s;}
header .menu .c-4:hover{ 
    background: #3d5866; 
    transition-duration: 0.3s;}

header .menu a span.icon1,
header .menu a span.icon2,
header .menu a span.icon3,
header .menu a span.icon4{
    font-family: 'icomoon';
    font-size: 16px;
    color: white;
}

header .menu a span.icon1:before{
    content: "\f0b1";
}
header .menu a span.icon2:before {
    content: "\e971";
}

header .menu a span.icon3:before {
    content: "\f121";
}
header .menu a span.icon4:before {
    content: "\e901";
}

/* -- slider --*/

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 10px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
  }



  /* ------- Paracuando  es un celular ------------- */
  .carousel-caption-cel {
    position: absolute;
    right: 15%;
    bottom: 0px;
    left: 15%;
    z-index: 10;
    padding-top: 0px;
    padding-bottom: 50px;
    padding-left: 10px;
    color: #fff;
    text-align: center;
  }


  .slider .carousel-inner .carousel-caption-cel h1{
      font-family: 'Roboto Condensed';
      color: #3da5e2;
      margin: 3px 5px;
      padding: 3px 5px;
      font-size: 12px;
  }
  .slider .carousel-inner .carousel-caption-cel h2{
      color: #545454;
      font-size: 12px;
      font-weight: 600;
  }
  .slider .carousel-inner .carousel-caption-cel p{
      color: #545454;
      font-size: 12px;
  }

  /* ------- Paracuando  es un celular fin ------------- */









.slider{
    margin-bottom: 40px;
}
.slider .col{
    padding: 0px;
}

.slider .carousel-inner .carousel-caption h1,
.slider .carousel-inner .carousel-caption p{
    font-family: 'Roboto Condensed';
    color: #3da5e2;
    margin: 3px 5px;
    padding: 3px 5px;
}
.slider .carousel-inner .carousel-caption h2{
    color: #545454;
    font-size: 16px;
    font-weight: 600;
}
.slider .carousel-inner .carousel-caption p{
    color: #545454;
    font-size: 14px;
}
.slider .carousel-inner .carousel-caption p span.icono-check:before{
    content: "\e902";
    font-family: 'icomoon';
    color: #005385;
    font-size: 14px;
}
#titulo-slider2{
    color:#003855;
}


/*--Portafolio--*/
.portafolio{
    background: white;
    border-top: 5px solid #3da5e2;
    padding: 0 20px;
}
.portafolio .título{
    padding: 40px 0px;
    text-align: center;
    color: #3da5e2;
    font-weight: 300;
}
.portafolio .galeria .contenedor-imagen{
    margin-bottom: 40px;
    max-height: 180px;
    overflow: hidden;
}
.portafolio .galeria .contenedor-imagen a{
    background: #3da5e2;
    display: inline-block;
}
.portafolio .galeria .contenedor-imagen:hover img{
    opacity: .6; 
}
.portafolio .modal-dialog{
    margin: 0px auto;
    height: 100%;
    max-width: 1000px;
}
.portafolio .modal-content{
    width: auto;
}
/*-- Acerca de --*/
.acerca-de{
    padding: 30px;
    margin-bottom: 40px;
}

.acerca-de .titulo-nosotros h2.título{
    color:#005385;
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 30px;
}
.acerca-de .info-nosotros{
    text-align: left;
}
.acerca-de .info .resumen{
    letter-spacing: 1px;
}

.acerca-de .info .label{
    font-size: 18px;
    font-weight: 600;
    color: #005385;
    margin-bottom: 10px;
}
.acerca-de .info .progress{
    background: #003855;
    border-radius: 0px;
    margin-bottom: 15px;
    height: 25px;
}
.acerca-de .info .progress .progress-bar{
    background: #3da5e2;
    line-height: 25px;
    text-align: left;
    padding-left: 20px;
}

/*-- Seccion de Servicios--*/
.servicios{
    background: white;
    border-top: 5px solid #3da5e2;
    padding: 0 20px;
}
.servicios-part2{
    border-top: 0px;
}
.servicios .título-servicios{
    color:#005385;
    font-weight: 300;
    font-size: 38px;
    margin-bottom: 30px;
    text-align: center;
}
.servicios h3{
    text-align: center;
    font-size: 20px;
    color: #037dc9;

}
.servicios .box-servicios{
    height: 220px;
}
.servicios .box-servicios .imagen-box{
    background: #f2f2f2;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
}
.servicios .box-servicios .imagen-box span:before{
    font-family: 'icomoon';
    color: #105577;
    font-size: 50px;
    margin: 0px;
    padding: 0px;
}
.servicios .box-servicios .imagen-box span.icono-telefono:before{
    content: "\e004";
}
.servicios .box-servicios .imagen-box span.icono-linea-grafica:before{
    content: "\e00e";
}
.servicios .box-servicios .imagen-box span.icono-carrito-compras:before{
    content: "\f07a";
}
.servicios .box-servicios .imagen-box span.icono-grafico:before{
    content: "\e018";
}
.servicios .box-servicios .imagen-box span.icono-configuracion:before{
    content: "\e02b";
}
.servicios .box-servicios .imagen-box span.icono-email:before{
    content: "\e028";
}


.servicios .box-servicios .texto-servicios p{
    color: #787878;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    font-size: 16px;
}




/*-- Contacto --*/
.contacto{
    padding: 40px 0;
    border-top: 2px solid #cbcbcb;
    border-bottom: 2px solid #cbcbcb;
    margin-bottom: 40px;
}
.contacto .título{
    color: #003855;
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
}
.contacto .form-group{
    margin-bottom: 0;
}
.formulario input[type="text"],
.formulario input[type="email"],
.formulario textarea{
    padding: 15px;
    border: none;
    width: 100%;
    margin-bottom: 30px;
}
.formulario textarea{
    height: 150px;
    min-height: 150px;
    max-height: 250px;
}
.formulario .boton{
    background: #660066;
    border: none;
    text-align: center;
    padding: 7px 30px;
    color: #fff;
    cursor: pointer;
    width: auto;
    border-radius: 3px;
}
.formulario .boton:hover{
    background: #cc33ff;
    transition-duration: 0.4s;
}

/*-- Footer --*/
.footer{
    background: #0f171b;
}
.footer .logo-dark{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0px;
    padding-bottom: 20px;
}
.footer .logo-dark img{
    position: relative;
    width: 70px;
    height: 70px;
}
.footer .logo-dark .título-footer{
    color: white;
    text-align: center;
    font-size: 25px;
    display: inline-block;
    margin-top: 25px;
}
.footer .info-footer p{
    text-align: center;
    font-size: 16px;
    color: white;
    font-family: 'Roboto Condensed';

}
.footer .redes-sociales{
    padding: 40px 0;
    margin-bottom: 20px;
    margin-top: 60px;
}


.footer .redes-sociales a.icono{
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    color: black;
    text-align: center;
    background: #cbcbcb;
    display: inline-block;
    margin: 0px 5px;
    text-decoration: none;
    border-radius: 50%;
    transition: all 0.3s ease;
}
.footer .redes-sociales a.icono:hover{
    background: #3da5e2;
    transition-duration: 0.4s;
}
.footer .redes-sociales a.icono:before{
    font-family: 'icomoon';
}

.footer .redes-sociales a:nth-child(1):before{
    content: "\e907";
}
.footer .redes-sociales a:nth-child(2):before{
    content: "\e906";
}
.footer .redes-sociales a:nth-child(3):before{
    content: "\e908";
}
.footer .redes-sociales a:nth-child(4):before{
    content: "\ea96";
}


/* -- Mediaqueries --*/

/*Dispositivo xl*/
@media screen and (max-width: 1199px){}

/*Dispositivo lg*/
@media screen and (max-width: 991px){

    

  .logo{
      height: 76px;
  } 
  .menu{
      min-height: 76px;
  } 
  .menu a{
      width: 100%;
  }
  .menu a div{
      width: 100%;
  }
}

/*Dispositivo md*/
@media screen and (max-width: 767px){

}


/* ------- Paracuando no es un celular ------------- */
@media screen 
  and (min-width: 600px) 
                        {

    .carousel-caption-cel {
        display: none;
    }
  
}

/* ------- Paracuando es un celular ------------- */
@media screen 
  and (max-width: 400px) 
                        {

    .carousel-caption {
        display: none;
    }
  
}






/*Dispositivo sm*/
@media screen and (max-width: 575px){
    header{
        margin-top: 0px;
    }
    header .logo h2,
    header .logo p {
        font-size: 14px;
    }
    header .logo .logo-site{
        height: 50px;
        width: 50px;
    }

    /*-- iconos seccion servicios --*/
    .servicios .box-servicios .imagen-box span:before{
        font-family: 'icomoon';
        color: #105577;
        font-size: 40px;
        margin: 0px;
        padding: 0px;
    } 
}

/*-- botón para ir arriba --*/
.ir-arriba {
	padding:20px;
	display:inline-block;
	background:#3da5e2;
	position: fixed;
	font-size:20px;
	bottom:20px;
	right:20px;
	display:none;
    cursor:pointer;
    z-index: 10;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}

.icono-arriba:before {
    content: "\f106";
    font-family: 'icomoon';
    color: #fff;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    
}


